<article
    id="comment-{{ comment.id }}"
    class="comment{% if comment.parent %} comment-reply{% endif %}"
>
    <header class="comment-header">
        <span class="comment-author">
            {{ comment.author_name }}
        </span>

        <time
            class="comment-date"
            datetime="{{ comment.created_at|date:'c' }}"
        >
            {{ comment.created_at|date:"M d, Y, H:i" }}
        </time>
    </header>

    <div class="comment-body">
        {% if comment.home_page %}
            <p>
                <a
                    href="{{ comment.home_page }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    {{ comment.home_page }}
                </a>
            </p>
        {% endif %}

        <p>{{ comment.text|safe }}</p>

        {% if comment.attachment %}
            <div v-if="isLoggedIn">
            {% if comment.attachment.name|lower|slice:"-4:" == ".txt" %}
                <p>
                    <a href="{{ comment.attachment.url }}" target="_blank">
                        View text attachment
                    </a>
                </p>
            {% else %}
                <p>
                        <a
                            href="{{ comment.attachment.url }}"
                            data-lightbox="comment-{{ comment.id }}"
                            data-title="Attachment for comment by {{ comment.author_name }}"
                            data-alt="Attachment for comment by {{ comment.author_name }}"
                        >
                        <img
                            src="{{ comment.attachment.url }}"
                            alt="Attachment for comment by {{ comment.author_name }}"
                        >
                    </a>
                </p>

            {% endif %}
            </div>
        {% endif %}

        <p>
            <a href="{% url 'comments:comment_list' %}?parent={{ comment.id }}">
                Reply
            </a>
        </p>
    </div>

    {% for reply in comment.replies.all %}
        {% include "comments/_comment.html" with comment=reply %}
    {% endfor %}
</article>